.form-select-sm {
  color: black !important;
  width: 60px !important;
}
.page-item {
  padding: 2px !important;
}
.dataTables_info {
  width: 100% !important;
  max-width: 250px !important;
}
.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
